.title {
	font-size: 120px;
	margin-bottom: 30px;
	text-align: center;
}
.simple_text, .simple_text_column {
	float: left;
	width: 18%;
	margin-right: 2%
}
.simple_text_column {
	margin-right: 0;
}

.simple_text p, .simple_text_column p {
	text-align: justify;
	text-indent: 5%;
}
.image {
	width: 40%;
	float: left;
	margin-right: 2%;
	overflow: hidden;
}




